$primary-colour: #e2e2e2;
$light-colour: #f0f0f0;
$dark-colour: #252525;
$delete-colour: #d30000;
$nav-box-shadow: rgba(10, 21, 26, 0.12) 0px 3px 3px 0px,
  rgba(12, 25, 31, 0.32) 0px 2px 12px 0px;
$box-shadow: rgba(10, 21, 26, 0.12) 0px 4px 4px 0px,
  rgba(12, 25, 31, 0.32) 0px 4px 12px 0px;
