@import "./variables";

.add-car {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  .add-car-heading {
    text-align: center;
  }

  label {
    margin-top: 0.5rem;
  }

  input {
    font-size: 1rem;
    padding: 0.1rem;
  }

  .create-btn {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.15s ease-in;
    color: $dark-colour;
    margin: 1rem 0;

    &:hover {
      background: $dark-colour;
      color: $light-colour;
    }
  }
}
