@import "./variables";

.single-car {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 0 2rem;

  .single-car-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .show-btn {
      width: 150px;
    }
  }

  .single-car-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  .single-car-info {
    display: flex;
    flex-direction: column;
    h3,
    p {
      margin-bottom: 0.5rem;
    }
  }

  .range-picker {
    display: flex;
    flex-direction: column;

    input {
      font-size: 1rem;
      width: 225px;
    }

    label,
    input {
      margin-bottom: 0.5rem;
    }
  }

  .car-amount-info {
    h3 {
      margin: 0.5rem 0;
    }
  }
  .pay-btn,
  .show-btn {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.15s ease-in;
    color: $dark-colour;

    &:hover {
      background: $dark-colour;
      color: $light-colour;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 764px) {
  .single-car {
    .single-car-intro,
    .single-car-info {
      text-align: center;
      align-items: center;
    }

    .car-amount-info {
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .single-car {
    .single-car-intro {
      .single-car-img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
